extends layout
block content
  link(rel='stylesheet', href='/stylesheets/instance.css')
  script(src="/javascripts/instance.js")
  h1= title
  h2= 'id: ' + bookInstance._id
  h3= 'title: ' +  bookInstance.book.title
  form(method='POST' action='')
    div.form-group
      label(for='title') Imprint:
      input#imprint.form-control(type='text', placeholder='Name of book instance' name='imprint' required='true' value=(undefined===bookInstance ? '' : bookInstance.imprint) )
    div.form-group
      label(for='due date') Due back:
      input#date.form-control(type='date', placeholder='Name of book instance' name='due_back' required='true' value=(undefined===bookInstance ? '' : bookInstance.due_back_formatted) )
      br
      div.input-group
        span.input-group-addon  
          input.check(type='checkbox', name="status", value=currentStatus, checked) 
          = currentStatus
    for state in states   
      div.input-group
        span.input-group-addon  
          input.check(type='checkbox', name="status", value=state) 
          = state
    br
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg